*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: 1vw;
}

body {
    background: #2f2d2d;
    transition: background 1s;
}

.sun {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 12vw;
    height: 12vw;
    background-image: url(./images/sun.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
    cursor: pointer;
}

.moon {
    position: absolute;
    top: 7%;
    right: 5%;
    width: 8.5vw;
    height: 9.1vw;
    background-image: url(./images/moon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
    transform: scale(1.2);
    cursor: pointer;
}

.cat {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vw;
}

.ear-left {
    position: absolute;
    top: 16.5%;
    left: 16%;
    transform: rotate(-65deg);
    width: 18%;
    height: 18%;
    background-image: url(./images/ear.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: ear-left 1s infinite alternate ease;
}

.ear-right {
    position: absolute;
    top: 9%;
    right: 37.5%;
    transform: rotateY(180deg) rotate(-33deg);
    width: 18%;
    height: 18%;
    background-image: url(./images/ear.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: ear-right 1s infinite alternate ease;
}

@keyframes ear-right {
    from {
        transform: rotateY(180deg) rotate(-33deg);
    }
    to {
        transform: rotateY(180deg) rotate(-27deg) translate(0.5em);
    }
}

@keyframes ear-left {
    from {
        transform: rotate(-65deg);
    }
    to {
        transform: rotate(-59deg) translate(0.5em);
    }
}

.cat-face {
    position: absolute;
    left: 20%;
    top: 12%;
    width: 45%;
    height: 45%;
    background-color: #bcbaba;
    border-radius: 50%;
    z-index: 10;
    transform: rotate(-15deg);
}

.face-shadow {
    position: absolute;
    width: 100%;
    height: 93%;
    background-color: #c5c5c5;
    border-radius: 50%;
    z-index: 20;
}

.eye {
    width: 37%;
    height: 37%;
    background-color: #e7e7e7;
    border-radius: 50%;
    top: 15%;
    z-index: 30;
    overflow: hidden;
}

.eye.left {
    position: absolute;
    left: 10%;
}

.eye.right {
    position: absolute;
    right: 10%;
}

.black-ball {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 75%;
    background-color: #000000;
    border-radius: 50%;
    transition: width 1s;
}

.white-ball {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 25%;
    height: 25%;
    background-color: #ffffff;
    border-radius: 50%;
    transition: top 1s;
}

.nose {
    background-image: url(./images/Polygon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 14%;
    height: 10%;
    transform: translateX(-50%);
    top: 45%;
    left: 50%;
    z-index: 40;
}

.cheek {
    position: absolute;
    top: 55%;
    background-color: #de8383;
    border-radius: 50%;
    width: 10%;
    height: 4%;
    box-shadow: 0 0 1.4em 1.5em #de8383;
    z-index: 20;
}

.cheek.left {
    left: 20%;
    transform: rotate(15deg);
}

.cheek.right {
    right: 20%;
    transform: rotate(-15deg);
}

.lip {
    position: absolute;
    top: 50%;
    background-color: #eeeeee;
    width: 13%;
    height: 11%;
    border-radius: 46% / 50%;
    z-index: 30;
}

.lip.left {
    left: 37%;
}

.lip.right {
    right: 37%;
}

.mouse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: 18%;
    background-color: #d48080;
    border-radius: 0% 0% 50% 50% / 0% 0% 25% 25%;
    z-index: 20;
}

.cat-body {
    position: absolute;
    left: 22%;
    top: 33%;
    width: 51%;
    height: 43%;
    transform: rotate(-15deg);
    background-color: #c5c5c5;
    border-radius: 50%;
}

.belly {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 70%;
    background-color: #e6e6e6;
    border-radius: 50%;
}

.paw {
    position: absolute;
    width: 10%;
    height: 10.5%;
    background-color: #e6e6e6;
    border-radius: 40% / 40%;
}

.cat:hover .paw.top.left {
    animation: left-paw-rotate 1s infinite alternate;
}

@keyframes left-paw-rotate {
    from {
        transform: rotate(-15deg) scale(1.4);
    }
    to {
        transform: rotate(-5deg) scale(1.4) translate(0.5em, 0.5em);
    }
}

.paw.top.left {
    top: 45%;
    left: 22%;
    z-index: 10;
    transform: rotate(-15deg) scale(1.4);
}

.paw.top.right {
    top: 35%;
    right: 31.5%;
    z-index: 10;
    transform: rotate(-15deg) scale(1.4);
}

.paw.bottom.left {
    top: 64.5%;
    left: 23%;
    z-index: 10;
    transform: rotate(-45deg) scale(1.4);
}

.paw.bottom.right {
    top: 52%;
    right: 23%;
    z-index: 10;
    transform: rotate(20deg) scale(1.4);
}

.jelly {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d69d9d;
    width: 2.9vw;
    height: 2.9vw;
    border-radius: 50%;
}

.jelly-mini {
    position: absolute;
    background-color: #d69d9d;
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 50%;
    z-index: 50;
}

.jelly-mini:nth-child(1) {
    left: 11%;
    top: 20%;
}

.jelly-mini:nth-child(2) {
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.jelly-mini:nth-child(3) {
    right: 11%;
    top: 20%;
}

.tail {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: rotate(10deg);
    transform-origin: top center;
    width: 10%;
    height: 25%;
    background-color: #c4c4c4;
    border-radius: 9999px;
    z-index: -10;
    overflow: hidden;
    animation: tail-move 2s infinite alternate;
}

@keyframes tail-move {
    0%,
    100% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(15deg);
    }
}

.stripe {
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: #adadad;
}

.stripe:nth-child(1) {
    top: 10%;
}

.stripe:nth-child(2) {
    top: 40%;
}

.stripe:nth-child(3) {
    top: 70%;
}

.eyelid {
    background: #d9d9d9;
    width: 300%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: top 1s;
}

.day .black-ball {
    width: 3vw;
}

.saliva {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(118, 222, 255, 1) 100%
    );
    width: 1.2em;
    height: 0;
    opacity: 0;
    top: 20.5rem;
    left: 21rem;
    position: absolute;
    border-top-left-radius: 99999px;
    border-top-right-radius: 99999px;
    z-index: 99;
    transition: height 3s, opacity 1s;
}

.day {
    background: #fffae9;
}

.day .black-ball .white-ball {
    top: 45%;
}

.day .eyelid {
    top: -40%;
}

.day .saliva {
    height: 10rem;
    opacity: 1;
}

.day .sun {
    transform: scale(1.2);
}

.day .moon {
    transform: scale(1);
}
